html {
    color:gray;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
  }
body{
    margin: 10%;

  }
  header{
    color:black;
  }
  h1{
    color:black;
    /* letter-spacing: -0.02em; */
    text-transform: capitalize;
    text-indent: -1rem;
    font-size: 18pt;
  }

  h2{
    color:darkmagenta;
    font-weight: bold;
    font-size: 12pt;
  }

  p{
    color:black;
    line-height: 12pt;
  }
  section{
    margin: 2.5em 0
  }

sub{
    font-size: 10pt;
    line-height: 6pt;
  }
  hr{
    margin: 4em 0;
  }